<div class="opener">
  <p>Are you looking for a chavrusah?<p>
</div>

<div>
  <p>We can help you with that!</p>
</div>

<form action="/request_chavrusah" method="post">
  <p>Choose when you would like to learn.</p>
  <select name="request_time"/>
    <option value="morning">6:00-7:00AM (Before Davening)</option>
    <option value="evening">8:00-9:00PM (Night Seder)</option>
    <option value="other">Other (Contact for more details)</option>
  </select>
  <input type="submit" value="Submit"/>
</form>
