<div>
  <p>Hey <%= @first_name %> <%= @last_name %>!</p>
  <p>Thanks for joining the Adult Male Higher Learning Initiative!</p>
  <p>We are off to a great start!</p>
  <p>One of our leaders will reach out to you shortly.</p>
</div>

<div>
  <label for="site_link">In the mean time, come check out some of the resources available on our site.</label>
  <a class="site_link" href="/">AMHLI</a>
</div>
